@charset "utf-8";

.ec {
    display: flex;
    justify-content: space-between;
}

.ec p {
    margin-bottom: 0;
}

.btn {
    width: 48%;
}

.header {
    align-items: center;
    background-clip: padding-box;
    background-color: #1cc3c9;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75%;
    cursor: pointer;
}

.daohang {
    display: flex;
    padding-left: 0;
    margin: 0;
    cursor: pointer;
    height: 30px;
}

.daohang li {
    float: left;
}

.left1 li {
    color: white;
    text-decoration: none;
    list-style: none;
    float: left;
    margin-left: 2%;
}

.header li {
    display: flex;
    margin-left: 6px;
    list-style: none;
}

.search {
    justify-content: space-between;
    display: flex;
    font-size: 18px;
    padding: 13px;
}

.search2 {
    width: 100%;
    justify-content: space-between;
    display: flex;
    height: 15%;
    align-items: center;
}

.pagination{
    justify-content:  center;
    display:  flex;
    text-align: center;
}

body {
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/背景5.jpg);
    background-size: 100% 100%;
    padding-top: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    min-width: 300px;
    box-sizing: border-box;
}

.main1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 363px;
}

.left1 {
    display: flex;
    flex-direction: column;
    background-image: url(../images/青年.png);
    background-size: 100% 100%;
    width: 64%;
    height: 100%;
    align-items: center;
}

.search1 {
    font-size: 14px;
    line-height: 26px;
}

.select1 {
    font-size: 11px;
}

.searchIcon{
    width: 30px;
}
.fangdajing2 {
    width: 38px;
}

.fenlei {
    color: aliceblue;
}

.xiala1 {
    margin-top: 3%;
    height: 70%;
    width: 95%;
    overflow-y: auto;
}

.xialatiao1 {
    margin-bottom: 4%;
    display: flex;
    height: 54px;
}

.example {
    background-color: #4F4F4F;
    opacity: 0.5;
    width: 89%;
}

.title {
    margin-top: 0;
    margin-left: 2%;
    margin-bottom: 0;
    color: aliceblue;
}

.xialatiao_image {
    height: 100%;
    position: relative;
}

p {
    font-size: 14px;
    color: aliceblue;
}

.right1 {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 35%;
    border-radius: 5px;
}

.touxiang {
    /* float: right; */
    /* height: 100%; */
}

.block_btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 49.5%;
}

.dec {
    font-size: 20px;
    font-weight: 500;
    color: white;
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    border: none;
    text-shadow: 0.05em 0.05em 0.05em black;
    height: 48.5%;
    width: 48%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.main2 {
    display: flex;
    height: 825px;
    margin-bottom: 10px;
}

.left2 {
    width: 64%;
    margin-right: 1%;
    overflow-y: auto;
    background-color: aliceblue;
    opacity: 0.9;
}

.image {
    width: 30%;
    max-height: 100%;
}

.information {
    width: 68%;
    height: 100%;
}

.information p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.example1 {
    display: flex;
    justify-content: space-between;
    height: 210px;
    width: 100%;
    margin-bottom: 5px;
}

.right2 {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: space-between;
}

.friends {
    border-radius: 0.3em;
    float: right;
    height: 48%;
    background: #FFFFFF;
}

.redian {
    height: 50%;
    border-radius: 0.3em;
    background-color: aliceblue;
}

.lv {
    height: 220px;
    margin: 0 auto 15px;
}

.lv_right {
    position:  relative;
    display:  flex;
    justify-content: space-around;
    float: right;
    width: 100%;
    height: 100%;
    background-color: #efefef;
    opacity: 0.8;
}

.wd {
    width: 60%;
    /* height: 92%; */
    margin-top: 1%;
    position: relative;
}

.wd li {
    font-size: 90%;
}

.wd span {
    float: right;
    position: absolute;
    right: 0;
}

.wd a {
    text-decoration: none;
    color: black;
}

.wd ul a:hover {
    color: #646860;
}

.tw {
    /* padding-bottom: 2px; */
    display:  flex;
    flex-direction: column;
    width: 30%;
    height: 92%;
    margin-top: 1%;
}

#tw1{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tw .btn2{
    box-shadow: 2px 2px 1px #3facb1;
    border: none;
    border-radius: 2px;
    background-color: #1cc3c9;
}

.ban {
    height: 60%;
    opacity: 1;
    box-shadow: 2px 2px 2px #acacac;
}

.fb {
    display: flex;
    justify-content: space-between;
    height: 12%;
}

.bq {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background: #1cc3c9;
    position: relative;
}

.bq_ul {
    width: 50%;
    height: 86px;
}

.bq_ul li {
    width: 168px;
    float: left;
    font-size: 12px;
    line-height: 30px;
    color: white;
}

.bq_lx {
    width: 40%;
    height: 50px;
    left: 720px;
    top: 58px;
}

.bq_lx img {
    margin-right: 40px;
    cursor: pointer;
    width: 12%
}

.kk {
    cursor: pointer;
}

.denglu {
    border-radius: 0.3em;
    display: flex;
    height: 48%;
    justify-content: space-between;
    background-color: aliceblue;
}

#tform label {
    float: left;
    margin-right: 3%;
    width: 25%;
    text-align: right;
}

#tform input {
    height: 20px;
}

#modal1 {
    display: none;
    background: rgba(0, 0, 0, 0.60);
    z-index: 998;
    position: absolute;
    height: 100%;
    width: 100%;
}

#modal1 .mbox {
    z-index: 999;
    background: white;
    box-shadow: black;
    border-radius: .5em;
    max-width: 550px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    padding: 2%;
}