*{margin:0;padding:0;}
a{text-decoration: none;}
img{border:0;}
li{list-style: none;}

#main{
    width:1000px;
    height:auto;
    margin:0 auto;
}

.zu_header{
    width:100%;
    height:68px;
    /*border: 1px solid crimson;*/
}
.zu_header p{
    padding-top:24px;
    font-size:16px;
}
.zu_header a{
    color:#000;
}
.zu_header a:hover{
    color:#1cc3c9;
}

.zu_content{
    width: 100%;
    background-color: #f8f8f8;
}
.zu_biaoti_bg{
    width:100%;
    height:50px;
    background-color: #383838;
    border-radius:3px;
}
.zu_biaoti{
    width:97%;
    height:100px;
    margin: 0 auto;
}

.zu_biaoti div{
    width:20%;
    height:auto;
    float:left;
    margin-top:16px;
}
.zu_biaoti div p{
    text-align: center;
    font-size:16px;
    color:#fff;
}

.zu_dui{
    width:97%;
    height:auto;
    margin:40px 1.5% auto;
    box-shadow: 1px 3px 1px #e8e8e8;
    /*display: none;*/
    /*border: 1px solid crimson;*/
}

.zu_dui0{
    width:100%;
    height:auto;
}

.dui_header{
    width:100%;
    height:50px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.dui_header div{
    width:20%;
    height:auto;
    float:left;
    margin-top:16px;
}
.dui_header div p{
    text-align: center;
    font-size:16px;
}
.zu_mem{
    margin-bottom: 30px;
    width:100%;
    height:600px;
    display: none;
}
.zu_mem .mem1{
    width: 24%;
    height:255px;
    float:left;
    margin-top: 28px;
    border:1px solid #e8e8e8;
    /*display: none;*/
}
.mem1{
    margin-left:0.76%;
}

.duizhang,.duiyuan,.shenhe{
    height:68.48%;
    margin:15.76% 15.81% auto;
    border:1px solid cornflowerblue;
}
.mem_img{
    margin-left: 22.5%;
    width:55%;
    height:50%;
    border:1px solid #9eedcd;
}
.mem_zi{
    margin-top: 10%;
    text-align: center;
    font-size:16px;
    line-height: 150%;
}

.zu_page{
    margin:10% auto;

}
.zu_page p{
    text-align: center;
    display: none;
}
.zu_page p input{
    width:30px;
}